.app__award{
    width: 400px;
    height: 131px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.app__award-img,
.app__award-content{
    padding: 10px;
}


.app__award-img{
    margin-top:12px;
}

.app__award-content h1{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 1rem;
}

.app__award-content p{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 12px;
    text-align: justify;
}


@media screen and (max-width:1150px){
    .app__award{
        margin: 5px 0;
    }
}
