.app__award{
    color: var(--color-white);
    width: 420px;
    display: flex;
    flex-direction: row;
    /* margin: 0 .5rem; */
    padding: 0 .1rem ;
}

.app__award-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.app__award-content h1{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 1rem;
}

.app__award-content p{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 12px;
    text-align: justify;
}
@media screen and (max-width: 1150px){
    .app__award-img img{
        width: 65px;
        height: 75px;
    }
    .app__award-content{
        margin: 10px;
    }
}
@media screen and (max-width:650px){
    .app__award{
        width: 289px;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        
    }
    .app__award-img{
        display: flex;
        justify-content: flex-start;
        margin: 0;
    }

    .app__award-img img{
        width: 25px;
        height: 26px;
        
        
        
    }



}