.app__award{
    width: 400px;
    height: 131px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.app__award-img,
.app__award-content{
    padding: 10px;
}


.app__award-img{
    margin-top:12px;
}

.app__award-content h1{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 1rem;
}

.app__award-content p{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 12px;
    text-align: justify;
}


@media screen and (max-width:1150px){
    .app__award{
        margin: 5px 0;
    }
}

@media screen and (max-width: 650px){
   
    .app__award{
        width: 300px;
        padding: 0;
        margin: 1rem 0 3rem ;
    }

    .app__award-content{
        padding: 0;
    }

    .app__award-img{
        padding: 0 5px 0;
        margin: 2.5rem 0 1rem ;
    }

    .app__award-img img{
        width: 50px;
        height: 50px;
        
    }

    .app__award-content p{
        width: 257px;
        margin: 0;
        padding: 0;
    }
}
