.App{
  background-color: var(--color-black);
  color: var(--color-white);
 
}

.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 0 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  /* height: 100vh;s */
}


.app__poppins-p{
  color: var(--color-white);
  font-size: 12px;
  font-family: var(--font-base);
  font-weight: 300;
  text-align: justify;
}



.app__button{
  background-color: var(--color-maroon);
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;

}

.app__custom-button{
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem .5rem;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  outline: none;
  cursor: pointer;
  margin: 1rem 0; 

}
